html {
  font-size: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  height: min-content; }

@font-face {
  font-family: "Source Sans Pro";
  src: url(/fonts/SourceSansPro-Regular.ttf); }

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/Quicksand-VariableFont_wght.ttf); }

.container.header {
  padding: 0; }

.headerwithfoto123 {
  background: url(/images/bg.png) center;
  background-size: cover;
  height: 640px; }

.headersw {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100px; }

.header_b {
  background-color: black; }

.header1 {
  margin: 0 auto;
  padding-top: 40px; }

.header2 {
  display: flex; }

.logoheader {
  height: 19px;
  width: 120px;
  margin: 1px 0 0 2px; }

.underscore {
  width: 0px; }

.underscore1 {
  background-color: #008ed6;
  height: 2px;
  width: 44%;
  padding-right: 8%;
  margin-right: 0;
  float: left; }

.underscore2 {
  background-color: #008ed6;
  height: 2px;
  width: 44%;
  float: right; }

.menuheader {
  margin-left: auto;
  max-width: 500px; }

.header_list {
  display: flex; }

.header_list li {
  list-style: none; }

.headerlink {
  color: #fffefe;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01px;
  text-align: right; }

.menuheaderlink {
  margin: -3px 0px 0px 25px; }

.headerlink:hover {
  text-decoration: none;
  color: #fff; }

.headerlink:focus {
  text-decoration: none;
  color: #fff; }

#navbarExampleDefault {
  margin-left: auto;
  margin-top: -21px;
  padding: 0;
  max-width: 446px;
  height: 16px;
  color: #fffefe;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 58px;
  text-align: right; }

/* Style for "Home" */
/* Text style for "H, ome" */
li {
  list-style-type: none;
  display: inline;
  padding: 0; }

ul {
  padding: 0;
  display: flex;
  justify-content: space-between; }

.headerwithfoto {
  padding-top: 50px; }

.headerinfo, .headerfoto {
  padding: 0; }

.headerinfo {
  margin-top: 45px; }

.toppp {
  display: block;
  position: relative;
  top: -100px;
  display: none; }

.headerfoto {
  margin-top: 20px;
  height: min-content; }

.lucid {
  width: 69px;
  height: 18px;
  padding-top: 22px;
  color: #ffffff;
  font-family: "Quicksand";
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2.2px;
  line-height: 58px;
  text-align: left;
  text-transform: uppercase; }

.text {
  width: 44px;
  height: 16px;
  padding-left: 7px;
  padding-top: 43px;
  opacity: 0.3;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 9px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.26px;
  line-height: 10px;
  text-align: left;
  text-transform: uppercase; }

.feature-1 {
  position: relative;
  width: 251px; }

.home-main-text {
  font-weight: 600; }

.icons1 {
  display: block;
  margin: 0 auto; }

.row.listoffutures1 {
  padding-top: 59px;
  padding-bottom: 70px;
  margin: 0px -30px; }

.container.listoffutures {
  padding: 0; }

.line1 {
  width: 100%;
  height: 1px;
  background-color: #ededed;
  margin-bottom: 66px; }

.line2o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 16px; }

.line3o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 13px; }

.line2 {
  width: 20px;
  height: 2px;
  background-color: #008ed6; }

.line3 {
  width: 20px;
  height: 2px;
  background-color: #008ed6; }

.fab {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: grey; }

.fab:hover {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: #008ed6; }

a {
  width: 18px;
  height: 18px; }

.container.easycustom {
  height: 520px; }

.easytext {
  max-width: 468px;
  height: 246px;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding-top: 132px;
  margin-left: -30px; }

.easytext1 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.4px;
  line-height: 48px;
  text-transform: uppercase; }

.easytext2 {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  margin-top: -7px; }

.easytext3 {
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px; }

.easytext4 {
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  margin-top: -9px; }

.priceandplan1 {
  height: min-content;
  background: url(/images/slider_fon.png) center;
  background-size: cover; }

.productoverzag {
  height: 66px;
  margin: 0 auto;
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  margin-top: 60px; }

.product1zag {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.4px;
  line-height: normal;
  text-transform: uppercase; }

.product2zag {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal; }

.feature {
  padding-top: 14px; }

.button-_-secondary {
  float: left;
  min-height: 50px;
  width: 160px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.76px/2.6px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 49px; }

.button-_-secondary.download {
  margin-right: 20px; }

.button-_-secondary:hover {
  float: left;
  min-height: 50px;
  width: 160px;
  border-radius: 3.76px/2.6px;
  background: #008ed6;
  box-shadow: 0 0 3px 0 rgba(3, 3, 3, 0.1);
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase; }

.devices-kopia {
  float: right;
  margin-right: 32px; }

.text-6_1 {
  margin: 33px auto 0;
  width: 230px;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center; }

.text-6_2 {
  margin: -14px auto 0;
  width: 230px;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center; }

.text-6_3 {
  margin: -5px auto 0;
  width: 230px;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center; }

.Responsive {
  color: #1a1a1a;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px; }

.text-style-9 {
  font-style: normal;
  letter-spacing: normal;
  line-height: 37px; }

.text-style-6 {
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px; }

.text-style-author {
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: -16px; }

.slide_2 {
  margin: 0; }

.devices {
  padding-left: 7px; }

.col-sm-6.devicesp {
  padding-left: 13px; }

.devicestext {
  width: 470px;
  height: 348px;
  margin-top: 36px; }

.cup {
  left: 50%;
  top: 276px; }

.energy {
  margin-top: -2px;
  width: 14px; }

.speedometer {
  left: 50%;
  top: 384px; }

.mouse {
  margin-top: -6px;
  margin-left: -4px; }

.text-10 {
  margin-left: -2px; }

.text-10_1 {
  margin-left: -2px;
  margin-top: -10px; }

.text-10_2 {
  margin-top: 10px; }

.text-10_3 {
  margin-top: -8px; }

.text-10_4 {
  margin-top: -2px;
  color: #1b1b1b;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 30px;
  font-size: 20px; }

.text-10_5 {
  margin-top: -5px;
  margin-left: 7px;
  color: #1b1b1b;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 36px;
  font-size: 20px; }

.text-10_6 {
  margin-top: -11px;
  margin-left: 3px;
  color: #1b1b1b;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 36px;
  font-size: 20px; }

.text-10_7 {
  margin-top: -10px;
  margin-left: 2px;
  color: #1b1b1b;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.8px;
  line-height: 36px;
  font-size: 20px; }

.iphone-5 {
  margin-left: -130px;
  margin-top: 53px;
  margin-bottom: 20px; }

.text-12 {
  margin: 0 auto;
  max-width: 470px;
  color: #008ed6;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 48px;
  text-align: center;
  margin-top: 43px;
  padding-top: 44px; }

.text-121 {
  margin: 0 auto;
  max-width: 470px;
  color: #008ed6;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 48px;
  text-align: center;
  margin-top: -7px; }

.line4o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 88px;
  margin: 0 auto; }

.line5o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 71px;
  margin: 0 auto; }

.line6o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 59px;
  margin: 0 auto; }

.line7o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: 0 auto; }

.line8o {
  display: flex;
  flex-direction: row;
  width: 42px;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 0px;
  margin: 0 -3px 0 auto; }

.slider_comment .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  margin-top: 126px;
  margin-left: -46px;
  margin-bottom: 63px; }

.slider_comment .slick-dots li {
  list-style: none;
  margin: 0 10px;
  outline: none; }

.container.slider {
  padding: 0; }

.typecomment {
  overflow: hidden; }

.slider_comment .slick-dots button {
  padding: 0;
  padding: 0 2px;
  font-size: 0;
  height: 8px;
  border: 2px solid #4d494b;
  border-radius: 50%;
  background-color: #211b1e; }

.slick-track {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.slider_item1 {
  width: 614px; }

.slider_item1.slick-slide {
  width: 600px; }

.line3 {
  width: 20px;
  height: 2px;
  background-color: #008ed6; }

.text-13 {
  margin: 0px -1px 16px;
  color: #ffffff;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 32px;
  width: 579px; }

.elipsa-3 {
  float: left;
  margin: 6px 23px 0 0;
  width: 59px;
  border-radius: 50%; }

.text-14 {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold; }

.text-15 {
  margin: 0 14px;
  color: #ffffff;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 32px; }

.elipsa-3-2 {
  float: left;
  margin: 23px 24px 0 15px;
  width: 59px;
  border-radius: 50%; }

.text-16 {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 17px; }

.text-17 {
  float: left;
  margin: -3px 0 0;
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 300; }

.button-_-primary-kopia {
  float: right;
  min-height: 50px;
  width: 160px;
  border-radius: 3.76px/2.6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase; }

.button-_-secondary-kopia {
  float: right;
  margin: 0 20px 0 0;
  min-height: 50px;
  width: 160px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3.76px/2.6px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase; }

.button-_-secondary-kopia:hover, .button-_-primary-kopia:hover {
  background: #008ed6; }

.text-2 {
  width: 478px;
  height: min-content;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left; }

.blockdownload {
  height: 170px;
  background-color: #15141a; }

.container.blockdownload {
  padding: 0;
  padding-top: 59px; }

.text-23 {
  margin: 40px auto 0;
  max-width: 470px;
  color: #008ed6;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 48px;
  text-align: center; }

.text-28_1 {
  width: 196px;
  height: 95px;
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin: -1px -11px 49px; }

.text-28 {
  width: 196px;
  height: 95px;
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin: -1px -9px 49px; }

.phone-2 {
  display: block;
  margin: 0 auto;
  margin-left: 160px; }

.text-33 {
  margin: 26px auto 0;
  width: 168px;
  height: 43px;
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin-left: 84px; }

.text-343 {
  margin: 26px 0 0 0;
  width: 168px;
  height: 43px;
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin-left: 96px; }

.text-35 {
  margin: 31px auto 0;
  width: 168px;
  height: 43px;
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin-left: 96px; }

.text-34 {
  margin: 0 auto;
  padding-top: 41px;
  width: 317px;
  color: #008ed6;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 48px;
  text-align: center; }

.pointer {
  display: block;
  margin: 0 auto; }

.envelope {
  display: block;
  margin: 5px 173px; }

.form {
  margin: 0 auto;
  position: relative;
  right: 9.5px;
  width: 619px; }

.name {
  opacity: 0.2; }

.name > * {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase; }

.email {
  opacity: 0.2; }

.email > * {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase; }

.subject {
  opacity: 0.2; }

.subject > * {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase; }

.message {
  opacity: 0.2;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase; }

.footer {
  width: 100%;
  height: 160px;
  background: #15141a;
  margin: -5px 0 0 0; }

.l-constrained-7 {
  padding-top: 57px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 1170px; }

.social-media > * {
  display: inline-block;
  vertical-align: top; }

.text-38 {
  margin: 26px 0 0;
  color: #444348;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }

.social-media {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 219px;
  display: flex;
  justify-content: space-between; }

.text-style-3 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 58px; }

.text-style-4 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px; }

.text-style-21 {
  color: #1a1a1a;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 0; }

.text-style-14 {
  color: #1b1b1b;
  line-height: 36px; }

.text-style-10 {
  color: #1a1a1a;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 36px; }

.fw600 {
  font-weight: 600; }

.text-style-13 {
  color: #1b1b1b;
  line-height: 30px; }

.text-style-15 {
  text-transform: uppercase; }

.text-style-5 {
  margin-top: 11px;
  color: #8c8c8d;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal; }

.text-style-2 {
  color: #008ed6;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 45px;
  text-transform: uppercase; }

.text-style-18 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 42px; }

.color008ed6 {
  color: #008ed6; }

.text-style-12 {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04px;
  color: #ababab;
  font-size: 18px; }

.text-style-16 {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0; }

.text-style-17 {
  display: block;
  line-height: 21px;
  margin-bottom: 0; }

.text-style-author2 {
  display: block;
  line-height: 21px;
  margin-bottom: 0px;
  margin-top: -18px; }

.container.price-items {
  padding: 0;
  width: 1200px; }

.price-item div {
  border: 1px solid #e0e0e0;
  border-top: none;
  text-align: center; }

.price-item {
  padding-bottom: 41px; }

.price-item:hover {
  color: #008ed6;
  transition: color .5s;
  cursor: pointer; }
  .price-item:hover .price-count {
    background-color: #008ed6;
    color: white;
    transition: background-color .5s; }
  .price-item:hover .per-month {
    color: white;
    transition: color .5s; }
  .price-item:hover .price-text .order-btn {
    background-color: #008ed6;
    transition: background-color .5s;
    color: white; }

.price-item div:first-child {
  border-top: 1px solid #e0e0e0; }

.price-name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  padding: 18px 30px; }

.price-count {
  height: 150px;
  font-size: 60px;
  padding: 15px;
  font-weight: bold; }
  .price-count .dollar {
    font-size: 40px;
    display: block;
    width: 16px;
    height: 38px;
    margin: 22px 0 0 77px; }
  .price-count .dollar2 {
    font-size: 40px;
    display: block;
    width: 16px;
    height: 38px;
    margin: 22px 0 0 93px; }
  .price-count .price {
    margin-top: -56px;
    margin-left: 8px;
    display: block; }
  .price-count .per-month {
    padding-top: 0px;
    font-size: 18px;
    margin-top: -13px;
    color: #9c9c9c;
    font-weight: normal; }

.price-text {
  color: #9c9c9c;
  padding: 47px; }
  .price-text .order-btn {
    color: #008ed6;
    border-radius: 2px;
    outline: none;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 0;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 14px;
    width: 161px;
    height: 52px;
    background: none; }

.contuctus1 {
  margin: 0 auto;
  padding: 0; }

.contuctus {
  background-color: #ededed;
  height: 675px; }

.container.contuctus {
  padding: 0; }

.contact-us-form {
  position: absolute;
  height: 360px;
  margin: 120px auto auto;
  top: 4354px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9000;
  width: 770px;
  background-color: #15141a;
  padding: 50px; }
  .contact-us-form .contact-us-input {
    background-color: #15141a;
    margin: 8px 15px 13px;
    width: 300px;
    height: 51px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 18px;
    font-size: 14px;
    outline: none;
    color: #fff; }
  .contact-us-form .contact-us-input::placeholder, .contact-us-form .contact-us-input {
    text-transform: uppercase;
    font-weight: bold; }
  .contact-us-form .contact-us-area {
    height: 191px;
    resize: none;
    margin-top: 8px;
    margin-left: 4px; }
  .contact-us-form .form-btn {
    margin: 220px 0 60px -174px;
    width: 159px;
    height: 49px; }

.contact-us-row1 {
  display: flex;
  flex-direction: column; }

.row12312 {
  display: flex;
  flex-direction: row; }

#forama {
  margin-top: 6px; }
